<launch>
  <master auto="start"/>
  <param name="/use_sim_time" value="false"/>
  <arg name="joy_config" default="ps3" />
  <arg name="config_filepath" default="$(find teleop_twist_joy)/config/$(arg joy_config).config.yaml" />
  <arg name="worldfile" value="$(find goto_box)/config/map/goto_box_sim.world" />

  <!-- Run RViz -->
  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find goto_box)/config/RViz/stage_nav_goto_box_mapping.rviz" />

  <!-- Run arduino serrial Mega wheelchair control -->
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node_mega">
    <param name="port" value="/dev/wheelchair_mega"/>
	<param name="baud" value="57600"/>
  </node>

  <node pkg="goto_box" type="joy_to_joy" name="joy_to_joy" output="screen" />

  <node pkg="teleop_twist_joy" name="teleop_twist_joy" type="teleop_node">
    <rosparam command="load" file="$(arg config_filepath)"/>
  </node>

  <!-- Run stageros -->
  <node pkg="stage_ros" type="stageros" name="stageros" args="$(arg worldfile)" respawn="false" >
    <param name="base_watchdog_timeout" value="0.2"/>
  </node>

  <arg name="no_static_map" default="false"/>
  <!-- Run move_base -->
  <node pkg="move_base" type="move_base" respawn="true" name="move_base" output="screen">
    <param name="footprint_padding" value="0.01"/>
	<param name="controller_frequency" value="10.0"/>
	<param name="controller_patience" value="3.0"/>
	<param name="oscillation_timeout" value="30.0"/>
	<param name="oscillation_distance" value="0.5"/>
    <rosparam file="$(find goto_box)/config/navigation/goto_box_mapping/costmap_common_params_mapping.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find goto_box)/config/navigation/goto_box_mapping/costmap_common_params_mapping.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find goto_box)/config/navigation/goto_box_mapping/local_costmap_params_mapping.yaml" command="load" />
    <rosparam file="$(find goto_box)/config/navigation/goto_box_mapping/global_costmap_params_mapping.yaml" command="load" />
    <rosparam file="$(find goto_box)/config/navigation/goto_box_mapping/base_local_planner_params_mapping.yaml" command="load" />
  </node>

  <!-- Run hector mapping -->
  <node pkg="hector_mapping" type="hector_mapping" name="hector_slam" output="screen">
	<remap from="scan" to="base_scan"/> 
	<param name="map_resolution" value="0.1"/>
	<param name="map_size" value="3072"/>
	<param name="map_start_x" value="0.5"/>
	<param name="map_start_y" value="0.5"/>
	<param name="map_update_distance_thresh" value="0.001"/>
	<param name="map_update_angle_thresh" value="0.001"/>
	<param name="map_pub_period" value="1.00"/>
	<param name="map_multi_res_levels" value="2"/>
	<param name="update_factor_free" value="0.4"/>
	<param name="update_factor_occupied" value="0.9"/>
	<param name="laser_min_dist" value="0.3"/>
	<param name="laser_max_dist" value="60"/>
	<param name="laser_z_min_value" value="-1.0"/>
	<param name="laser_z_max_value" value="1.0"/>
	<param name="pub_map_odom_transform" value="true"/>
	<param name="output_timing" value="false"/>
	<param name="scan_subsciber_queue_size" value="5000000"/>
	<param name="pub_map_scanmatch_transform" value="true"/>
	<param name="tf_map_scanmatch_transform_frame_name" value="scanmatcher_frame"/>
  </node> 
</launch>
