KERNEL=="ttyUSB?" ATTRS{idVendor}=="0403", MODE="0666", ATTRS{manufacturer}=="FTDI", ATTRS{product}=="USB HS SERIAL CONVERTER", ATTRS{serial}=="FTBPHTT9", SYMLINK+="wc/lenc"
KERNEL=="ttyUSB?" ATTRS{idVendor}=="0403", MODE="0666", ATTRS{manufacturer}=="FTDI", ATTRS{product}=="USB HS SERIAL CONVERTER", ATTRS{serial}=="FTBPHTTB", SYMLINK+="wc/renc"
