ATTRS{idVendor}=="1e10", ATTRS{idProduct}=="2001", MODE="0666", GROUP="pgrimaging" SYMLINK+="sb/cam"
KERNEL=="raw1394", MODE="0666", GROUP="pgrimaging"
KERNEL=="video1394*", MODE="0666", GROUP="pgrimaging"
SUBSYSTEM=="firewire", GROUP="pgrimaging"
SUBSYSTEM=="usb", GROUP="pgrimaging"
