<?xml version="1.0"?>

<launch>
    <!-- Runs the laser_assembler node which assembles laser scans before being passed into
    octomap -->
    <node type="laser_scan_assembler" pkg="laser_assembler" name="my_assembler">
        <remap from="scan" to="/scan_lsm"/>
        <param name="max_clouds" type="int" value="1000" />
        <param name="fixed_frame" type="string" value="/map_world_frame" />
        <param name="ignore_laser_skew" value="false" />
    </node>

    <!--Calls the laser_assembler service which is required to publish the assembled cloud-->
    <node type="call_laser_assembler_srv" name="call_laser_assembler_srv" pkg="laser_conversions"/>
</launch>
